* {
    margin: 0;
    padding: 0;
}
body header nav, #PE {
    width: 100%;
    display: flex;   
}
#PE a {
    padding: 5px 0 0 10px;
    position: relative;
    text-decoration: none;
    color: #000;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
}
#nav-bar {
    position:fixed;
    padding: 20px 0 20px 20px;
    background: #FFCC00;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

nav ul li a{
    display: flex;
    text-align: center;
    padding: 25px 30px 25px 30px;
    text-decoration: none;
    color: red;
    font-family: Tahoma;
    font-size: 18px;
}
nav ul{
    position: fixed;
    left: 33%;
    display: flex;
    list-style-type: none;
    
}
nav ul li a:hover{
    color: #fff;
    background-color:rgba(0, 0, 0, 0.02);
    transform: scale(1.01);
    transition: 0.1s;
}
.logo img {
    padding-right: 20px;
    border-right: solid 1px #000;
}