.text-home  a {
    color: white;

}
.text-home  a:hover {
    color: red;
}

.hero {
  height: calc(100vh - 70px);
  background: center / cover no-repeat url('https://github.com/ejuanoli/Acompanhamento/blob/main/Assets/img/Base.png?raw=true');
  
}
