* {
    margin: 0;
    padding: 0;
}

.text-home  a {
    color: white;

}
.text-home  a:hover {
    color: red;
}
.home div p{
    text-transform: uppercase;
    color: #fff;
    background-color:rgba(0, 0, 0, 0.6);
    font-size: 70px;
    font-family:Arial, Helvetica, sans-serif;
    justify-content: center;
    text-align: center;
    height: 50vh;
    padding: 50vh 0 0 0;
}
.home {
    background-image: url(/Assets/img/Base.png);
    background-size:contain;
    background-position: center;
    height:100vh;
    
}
