* {
  margin: 0;
  padding: 0;
}

a {
  font-family: sans-serif;
  text-decoration: none;
}

#header.scroll {
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

#header {
  transition: 0.5s;
}
.header {
  background: #FFCC00;
  padding-inline: 16px;
  width: 100%;
  position: fixed;
  margin: 0;
}

.div-1 {
  padding: 40px;
}

.background {
  height: calc(100vh);
  background: center / cover no-repeat url('https://github.com/ejuanoli/Acompanhamento/blob/main/Assets/img/Base.png?raw=true');
}

.index {
  display: block;
  margin: 100vh;
}

.flex {
  max-width: 1280px;
  height: 80px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.contato a {
  color: #fff;
}

.contato {
  margin: 4%;
  color: #fff;
  background: rgba(0, 0, 0, 1);
  text-decoration: none;
  padding: 10px 20px;
  background: linear-gradient(135deg, #1f1f1f, #000);
  font-size: 16px;
  font-family: Tahoma, sans-serif;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.1s ease;
}

.contato:hover {
  background: linear-gradient(135deg, #333, #111);
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}


.logo {
  display: flex;
  height: 18px;
}

.nav-list {
  display: flex;
  gap: 32px;
  list-style: none;
}

.nav-list a {
  font-size: 18px;
  color: #fff;
  padding-block: 16px;
}

.hamburguer {
  display: none;
  border: none;
  background: none;
  border-top: 3px solid #fff;
  cursor: pointer;
}

.hamburguer::after,
.hamburguer::before {
  content: " ";
  display: block;
  width: 30px;
  height: 3px;
  background: #fff;
  margin-top: 5px;
  position: relative;
  transition: 0.3s;
}

@media (min-width: 751px) {
  .contato-list {
    display: none;
  }
}

@media (max-width: 750px) {
  .hamburguer {
    display: block;
    z-index: 1;
    margin: 6%;
  }

  .contato-list {
    display: all;
  }

  .nav-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #FFCC00;
    clip-path:circle(100px at 90% -15%);
    transition: 0.5s ease-out;

    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0;

    pointer-events: none;
  }

  .nav-list a {
    font-size: 24px;
    opacity: 0;
  }

  .nav.active .nav-list {
    clip-path: circle(1500px at 90% -15%);
    pointer-events: all;
  }

  .nav.active .nav-list a {
    opacity: 1;
  }

  .nav.active .hamburguer {
    position: fixed;
    top: 26px;
    right: 16px;
    border-top-color: transparent;
  }

  .nav.active .hamburguer::before {
    transform: rotate(135deg);
  }

  .nav.active .hamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  .contato {
    display: none;
  }
}

.nav-list a:hover{
    color: red;
    border-radius: 8px;
    padding: 2px;
    background-color:rgba(0, 0, 0, 0.07);
    transform: scale(1.01);
    transition: 0.1s;
}

