* {
    margin: 0;
    padding: 0;
}

.text-project  a {
    color: white;

}
.text-project a:hover {
    color: red;
}
.projects div {
    justify-content: center;
    display: block;
    align-items: center;
    text-align: center;
    margin: 100px 0 0 0;
}
.projects span h2 {
    margin: 100px 0 0 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    
}
.sobre_p_x h3, span {
    display: block;
    text-align: left;
    font-size: 18px;
    font-family: sans-serif;   
    margin: 0 0 0 100px;
}

.ferramenta_projeto_x, .ul_projeto_x {
    display: block;
    font-size: 18px;
    font-family: sans-serif;
    text-align: left;
    list-style-type: none;
    margin: 0 0 0 100px;
}
.ul_projeto_x li::before {
    content: ">";
}
.projects {
    float: left;
    vertical-align: middle;
}
.projeto_x {
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 15% 0 0 0;
    border: solid 1px #000;
    background: black;
    height: 60vh;
    width: 120vh;
    background-image: url('https://github.com/ejuanoli/Acompanhamento/blob/main/Assets/img/Captura%20de%20tela%202025-02-20%20160335.png?raw=true');
    background-size:cover;
    background-repeat: no-repeat;
}   
footer {
    display: block;
    text-align: center;
    padding: 10px 0 0 0;
    font-family: sans-serif;
    font-size: 18px;
    background: darkgrey;
}

